@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: theme("colors.background");
    --foreground: theme("colors.foreground");
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: theme("colors.darkBackground");
      --foreground: theme("colors.darkForeground");
    }
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply font-sans;
    background-image: theme("backgroundImage.gradient-radial");
    background-size: cover;
    background-attachment: fixed;
  }
}
